main{
    margin-top: 65px;
    color: #02264a;
}


.yaseen {
    font-size: 20px;
    background-color:#02264a;
    color:white;
    font-size:20px;
    padding:15px;
    margin-left:-40px;
    margin-right:-40px;
  float: 1;
  padding: 50px;
}