h1{text-align: center;
    font-size: 40px;
    color:white;
    font-family: sans-serif;
    font-weight: 900;
}


form{display:block;
    margin:auto;
    margin-top: 70px;
    margin-right:70px;
    margin-left:70px;

}


fieldset{margin: auto;
        width: 600px;
        padding:50px;
        border-radius: 15px;
        border: 0px;
        background-color:#02264a;
}


input{display:block;
        margin:auto;
        width:300px; 
        padding: 20px; 
        font-size: 18px;
        border-radius: 100px;
        border: 0px;
        
}

 
.data{display:flex;
        
}


div input{width:100px; 
        padding: 20px; 
}


button{display:block;
        margin:auto;
        width:340px; 
        padding: 20px;
        font-size: 18px;
        color:white;
        background-color: rgb(236, 162, 190);
        border-radius: 100px;
        border: 0px;
        }

.portada{width: 30px}
.apple_pay{background-color: white;
}

