.titol{
        width:300px; 
        padding: 20px; 
        font-size: 18px;
        border-radius: 100px;
        border: 0px;   
}

.correu_contrasenya {
        display:block;
        margin:auto;
        width:300px; 
        padding: 20px; 
        font-size: 18px;
        border-radius: 100px;
        border: 0px;  
} 

.genere {
        color:white;
        font-size:18px;
}

.data{
        padding: 20px; 
        font-size: 18px;
        border-radius: 100px;
        border: 0px;  
}

.check{
        color:white;
        font-size:18px;
}

h1{
        text-align: center;
        font-size: 40px;
        color: white;
        font-family: sans-serif;
        font-weight: 900;
}



fieldset{
        width: 600px;
        padding:50px;
        border-radius: 15px;
        border: 0px;
        background-color:#02264a;
}




button{
        display:block;
        margin:auto;
        width:340px; 
        padding: 20px;
        font-size: 18px;
        color:black;
        background-color: rgb(236, 162, 190);
        border-radius: 100px;
        border: 0px solid;
        }

        
button:hover{
        background-color: brown;
        color: white;
}
p {
        text-align: center;
        font-size: 20px;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
}
.up{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
}

