.prova{
            flex:1; 
            height: 325px; 
            width: 00px; 
            border-radius: 12px; 
            border: 4px solid black;
        }

fieldset {
            border: 0px;
            padding: 30px;
            border-radius: 20px;
            background: linear-gradient(to top, #02264a, #1567b8);
        }
body {
            margin: 60px;
            padding-top: 60px; 
            font-family: Arial, sans-serif;
            color: white;
}