h1{ display: flex;
    justify-content: center;
    font-family: Arial;
    background-color:rgba(161, 173, 173, 0.671);}

body{}

p{background-color:rgba(159, 175, 176, 0.671);}

legend{font-weight:bold;}

label{font-weight: 200,bold;
      font-size:15px;}

.data{display:flex;
      gap:10px;}

.data input{width:80px;
            text-align: center}

::placeholder{background-color:rgb(141, 175, 198);
             border:none;
             color:rgb(64, 62, 62);
             font-style: italic}

.Enviar{border-radius:100px;padding:10px 20px;
        background-color:rgb(141, 175, 198);
        border:none}
    
