p{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #01579b;
    
}

body {
    background-color: #dff5fd; 
    font-family: 'serif', baskkerville;
}
header h1 {
    text-align: center;
    color: #0277bd;
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
}

input, textarea{
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    text-decoration: #6ec1e0;
}

fieldset {
    border: 2px solid #0277bd;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;      
    margin-bottom: 20px;
}

button {
        background-color: #01579b;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
    }

button:hover {
        background-color: #1773b9;
}
